body {
  background: #f9f9f9; }

[class*="right aligned"] {
  text-align: right; }

.ui.inline.form {
  display: inline-block; }

#header {
  background: #1b1c1d;
  margin-bottom: 1rem; }

#header .ui.grid .column {
  padding-bottom: 0px; }

#header .ui.main.menu .item {
  border-radius: 0px; }

#login-box {
  margin-top: 20vh; }

#login-box > .column {
  max-width: 640px;
  margin: 0 auto; }

.results-list .item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.results-list .item > .image {
  -webkit-flex-grow: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
  -webkit-flex-shrink: 5;
      -ms-flex-negative: 5;
          flex-shrink: 5; }

.results-list .item > .content {
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  -webkit-flex-shrink: 20;
      -ms-flex-negative: 20;
          flex-shrink: 20; }

.results-list .item > .image img {
  max-height: 256px; }

.results-list .item .image + .content {
  padding-left: 1em;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.results-list .item .content .meta a:after {
  content: ' /';
  color: rgba(0, 0, 0, 0.8); }

.results-list .item .content .meta a:last-child:after {
  content: ''; }

.labels {
  font-size: 0;
  margin-top: -5px; }

.labels > .ui.label {
  margin: 5px 5px 0 0; }

.labels.minimised {
  max-height: 62px;
  overflow: hidden; }

.ui.files.list .item > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.ui.label.ng-enter,
.ui.label.ng-leave {
  transition: 0.5s linear all; }

.ui.label.ng-enter,
.ui.label.ng-leave.ng-leave-active {
  opacity: 0; }

.ui.label.ng-leave,
.ui.label.ng-enter.ng-enter-active {
  opacity: 1; }

/*
 * ng-tags-input styling
 */
tags-input {
  display: block; }

tags-input *, tags-input *:before, tags-input *:after {
  box-sizing: border-box; }

tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%; }

tags-input .host:active {
  outline: none; }

tags-input .tags {
  height: 38px;
  /* TODO */
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.2142em;
  padding: 0.355em 0.355em;
  font-size: 1em;
  background: #ffffff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease; }

tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

tags-input .tags .tag-item {
  display: inline-block;
  float: left;
  white-space: nowrap;
  font-size: 0.85714286rem;
  line-height: 1;
  vertical-align: baseline;
  margin: 0em 0.14286em;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: bold;
  border-radius: 0.28571429rem;
  transition: background 0.1s ease;
  /*
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 26px;
    line-height: 25px;
    border: 1px solid #acacac;
    border-radius: 3px;
    background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  */ }

tags-input .tags .tag-item.selected {
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); }

tags-input .tags .tag-item .remove-button {
  /*
    margin: 0 0 0 5px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    vertical-align: middle;
    font: bold 16px Arial, sans-serif;
    color: #585858;
  */ }

tags-input .tags .tag-item .remove-button:active {
  color: #ff0000; }

tags-input .tags .input {
  float: left;
  display: inline-block;
  border: none;
  outline: none;
  font-size: 0.85714286rem;
  line-height: 2em;
  vertical-align: baseline;
  margin: 0em 0.14286em;
  /*
    border: 0;
    outline: none;
    margin: 2px;
    padding: 0;
    padding-left: 5px;
    float: left;
  */ }

tags-input .tags .input.invalid-tag {
  color: #ff0000; }

tags-input .tags .input::-ms-clear {
  display: none; }

tags-input.ng-invalid .tags {
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6); }

tags-input[disabled] .host:focus {
  outline: none; }

tags-input[disabled] .tags {
  background-color: #eee;
  cursor: default; }

tags-input[disabled] .tags .tag-item {
  opacity: 0.65;
  background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%); }

tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default; }

tags-input[disabled] .tags .tag-item .remove-button:active {
  color: #585858; }

tags-input[disabled] .tags .input {
  background-color: #eee;
  cursor: default; }

tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative; }

tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff; }

tags-input .autocomplete .suggestion-item.selected {
  color: #fff;
  background-color: #0097cf; }

tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #0097cf; }

tags-input .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff; }

/*
 * end ng-tags-input styling
 */

/*# sourceMappingURL=app.css.map */