header#masthead {
  background-color: rgb(230, 24, 117);
}

header#masthead .ui.header {
  color: #fff;
}

header#masthead > .grid {
  margin-top: 0;
  margin-bottom: 0;
}

.results-list .item {
  display: flex;
}

.results-list .item > .image {
  flex-grow: 20;
  flex-shrink: 5;
}

.results-list .item > .content {
  flex-grow: 5;
  flex-shrink: 20;
}

.results-list .item > .image img {
  max-height: 256px;
}

.results-list .item .image + .content {
  padding-left: 1em;
  flex-grow: 1;
}

.labels {
  font-size: 0;
  margin-top: -5px;
}

.labels > .ui.label {
  margin: 5px 5px 0 0;
}

.labels.minimised {
  max-height: 62px;
  overflow: hidden;
}