body {
  background: #f9f9f9;
}

[class*="right aligned"] {
  text-align: right;
}

.ui.inline.form {
  display: inline-block;
}

#header {
  background: #1b1c1d;
  margin-bottom: 1rem;
}

#header .ui.grid .column {
  padding-bottom: 0px;
}

#header .ui.main.menu .item {
  border-radius: 0px;
}

#login-box {
  margin-top: 20vh;
}

#login-box > .column {
  max-width: 640px;
  margin: 0 auto;
}

.results-list .item {
  display: flex;
}

.results-list .item > .image {
  flex-grow: 20;
  flex-shrink: 5;
}

.results-list .item > .content {
  flex-grow: 5;
  flex-shrink: 20;
}

.results-list .item > .image img {
  max-height: 256px;
}

.results-list .item .image + .content {
  padding-left: 1em;
  flex-grow: 1;
}

.results-list .item .content .meta a:after {
  content: ' /';
  color: rgba(0, 0, 0, 0.8);
}

.results-list .item .content .meta a:last-child:after {
  content: '';
}

.labels {
  font-size: 0;
  margin-top: -5px;
}

.labels > .ui.label {
  margin: 5px 5px 0 0;
}

.labels.minimised {
  max-height: 62px;
  overflow: hidden;
}

.ui.files.list .item > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.label.ng-enter,
.ui.label.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.ui.label.ng-enter,
.ui.label.ng-leave.ng-leave-active {
  opacity:0;

}
.ui.label.ng-leave,
.ui.label.ng-enter.ng-enter-active {
  opacity:1;
}